@font-face {
  font-family: cursivee;
  src: url("../img/DancingScript-VariableFont_wght.ttf");
}
body {
  background: url(../img/img_tree.png) no-repeat 96% 15% fixed;
}
.borderimg {
  border: 24px solid transparent;
  padding: 0px;
  border-image: url(../img/springborder.png) 15% round;
  font-weight: bold;
}

.default {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background: black;
  color: white;
}
.rainbow-text span {
  display: inline-block;
}
.left_menu ul {
  list-style: none;
  font-family: cursivee;
  font-weight: bold;
  font-size: 22px;
  line-height: 56px;
  margin-top: 40px;
}

.product_img {
  height: 250px;
}
.product_img2 {
  height: 160px;
}

#random_product {
  margin-left: 10px;
}








.sanfran-highcontrast {
  background-image: url(https://sites.chase.com/content/mktservices/digital-assets/image.blue-spots-bg-mobile-portrait.jpg/branding-photography/Photography/Consumer_Bank/blue-spots-bg.jpg);
}
.carousel_img {
  height: 295px;
}

@media only screen and (min-width: 480px) {
  .sanfran-highcontrast {
    background-image: url(https://sites.chase.com/content/mktservices/digital-assets/image.blue-spots-bg-mobile-portrait.jpg/branding-photography/Photography/Consumer_Bank/blue-spots-bg.jpg);
  }
  .carousel_img {
    height: 360px;
  }
}

@media only screen and (min-width: 768px) {
  .sanfran-highcontrast {
    background-image: url(https://sites.chase.com/content/mktservices/digital-assets/image.blue-spots-bg-mobile-landscape.jpg/branding-photography/Photography/Consumer_Bank/blue-spots-bg.jpg);
  }
  .carousel_img {
    height: 480px;
  }
}

@media only screen and (min-width: 992px) {
  .sanfran-highcontrast {
    background-image: url(https://sites.chase.com/content/mktservices/digital-assets/image.blue-spots-bg-tablet.jpg/branding-photography/Photography/Consumer_Bank/blue-spots-bg.jpg);
  }
  .carousel_img {
    height: 520px;
  }
}

@media only screen and (min-width: 1200px) {
  .sanfran-highcontrast {
    background-image: url(https://sites.chase.com/content/mktservices/digital-assets/image.blue-spots-bg-desktop.jpg/branding-photography/Photography/Consumer_Bank/blue-spots-bg.jpg);
  }
  .carousel_img {
    height: 560px;
  }
}

@media only screen and (min-width: 1600px) {
  .sanfran-highcontrast {
    background-image: url(https://sites.chase.com/content/mktservices/digital-assets/image.blue-spots-bg-retina.jpg/branding-photography/Photography/Consumer_Bank/blue-spots-bg.jpg);
  }
  .carousel_img {
    height: 595px;
  }
}

.lt-ie9 .sanfran-highcontrast {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://sites.chase.com/content/mktservices/digital-assets/image.blue-spots-bg-desktop.jpg/branding-photography/Photography/Consumer_Bank/blue-spots-bg.jpg', sizingMethod='scale');
}