@inject Cart foo

@if (foo.GetSessionVendor() == 1 || foo.GetSessionVendor() == 0)
{
<div class="nav-item">
  <a class="nav-link text-dark" asp-controller="Vendor" asp-action="Index">
    <!--rainbow text-->
    <div class="rainbow-text" style="font-size: 16px;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
text-align:center;
padding: 0px;
background: #ffffff;
font-weight: bold;
text-shadow: 1px 1px 0px #A3A3A3;
">
      <span style="color:#ff00cc">@foo.GetSessionName()</span><span style="color:#ff0099">'s</span>
      <span style="color:#ff0066">A</span><span style="color:#ff0033">c</span><span style="color:#ff0000">c</span><span style="color:#ff3300">o</span><span style="color:#ff6600">u</span><span style="color:#ff9900">n</span><span style="color:#ffcc00">t</span>
    </div>
  </a>
</div>
}
else
{
<div class="nav-item">
  <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">
    <!--rainbow text-->
    <div class="rainbow-text" style="font-size: 16px;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
text-align:center;
padding: 0px;
background: #ffffff;
font-weight: bold;
text-shadow: 1px 1px 0px #A3A3A3;
">
      <span style="color:#ff00ff">L</span><span style="color:#ff00cc">o</span><span style="color:#ff0099">g</span><span style="color: transparent;text-shadow: none;">&nbsp;</span><span style="color:#ff0066">I</span><span style="color:#ff0033">n</span>
    </div>
  </a>
</div>}