@model LoginModel

  <div class="m-1 p-1">
    <div class="text-danger" asp-validation-summary="All"></div>
    <form asp-action="Login" asp-controller="Account" method="post">
      <div class="form-group">
        <label asp-for="Name"></label>
        <div asp-validation-for="Name" class="text-danger"></div>
        <input asp-for="Name" class="form-control" />
      </div>
      <div class="form-group">
        <label asp-for="Password"></label>
        <div asp-validation-for="Password" class="text-danger"></div>
        <input asp-for="Password" type="password" class="form-control" />
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label asp-for="RememberMe">
            <input asp-for="RememberMe" />
            @Html.DisplayNameFor(m => m.RememberMe)
          </label>
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Log In</button>
      <a asp-action="Register" asp-controller="Account" class="btn btn-primary">Sign up</a>
    </form>
  </div>